/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #202122; }

p {
  margin-bottom: 5px; }

input, select {
  margin-right: 5px; }

#new-card-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

#page-title {
  font-family: 'Coda Caption';
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }

#kanban-board {
  margin-top: 20px;
  background-color: #323535;
  border: 1px #A29F9F solid;
  padding: 15px;
  height: 900px;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between; }

#queue-column-box, #progress-column-box, #finished-column-box {
  background-color: #A29F9F;
  flex: 0 1 32%; }

.column-header {
  margin: 10px;
  text-align: center;
  font-family: 'Coda Caption'; }

.low-card {
  background-color: #93C77D; }

.medium-card {
  background-color: #5F9688; }

.high-card {
  background-color: #D98997; }

.blocker-card {
  background-color: #9F3548; }

.low-card, .medium-card, .high-card, .blocker-card {
  font-family: 'Raleway';
  margin: 10px;
  box-shadow: 5px 5px 10px black;
  border-radius: 10px 10px;
  padding: 10px;
  color: white; }
